
0.-preprocess.html
1.-simulation.html
2.-impute-counterfactual-outcome.html
3.-PATE.html
3.1.-Robustness_overlap.html
3.2.-Robustness_confounding.html
data/dhs_plus_mock.rds
data/from_source_study/propensity_bart.rds
data/from_source_study/refit_princeB_prob_thin.rds
